@import url('https://fonts.googleapis.com/css2?family=Joan&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: #f3eec2fa;
}
.wrapper{        
    width: 450px;
    border: 1px solid #333;    
}
.wrapper-chat{        
    width: 550px;
    border: 1px solid #333;    
}

/* Login/Signup form style */

.form{
    padding: 15px 25px;
}
.form header{
    font-size: 27px;
    font-weight: 00;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    text-align: center;
}
.form form .error-text{
    margin-top: 20px;
    font-size: 14px;
    color:#682c2c;
    background: #e6b2b2;
    padding: 5px 10px;    
    text-align: center;    
    margin-bottom: 10px;
    display: none;
}
.form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 20px 0;
}
.form form .input input{
    height: 30px;
    width: 100%;
    font-size: 14px;
    padding: 0 10px;
    outline: none;    
    border: 1px solid #fff;    
}
.form form .field i{
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.form form .field i.active::before{
    color: #333;
    content: "\f070";
}
.form form .field p{    
    font-size: 12px;
    color: rgb(108, 181, 11);
    text-align: right;
    cursor: pointer;
}
.form form .button input{    
    height: 40px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    background: rgb(101, 189, 12);
    color: #fff;    
    cursor: pointer;
}
.form .link{
    text-align: center;
    margin: 50px 0 0;
    font-size: 12px;
}
.form .link a{
    color: rgb(108, 181, 11);
}
.form .link a:hover{
    text-decoration: underline;
}

/* users page style */

.users{
    padding: 25px 30px;
}
.user-account,
.users-list a{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;    
}
.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}
:is(.users, .users-list) .content{
    display: flex;
    align-items: center;        
}
.users .user-account .content{
    display: flex;
    align-items: center;    
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.users .user-account .content img{    
    height: 150px;
    width: 150px;       
}
.users .user-account .details p{    
    margin: 10px 0 10px 0;
    text-align: center;
    font-size: 14px;    
}
.users .user-account .buttons .btn1{
    padding: 5px 50px;
    background: rgb(101, 189, 12);
    color: #fff;
    border: none;    
}
.users .user-account .buttons .btn2{
    padding: 5px 50px;
    background: rgb(117, 119, 117);
    color: #fff;
    border: none;
}
:is(.users, .users-list) .content .details{
    color: #000;
    margin-left: 15px;
}
:is(.users, .users-list) .content .details span{
    font-size: 18px;
    font-weight: 500;
}
.users header .logout{
    padding: 7px 15px;
    font-size: 17px;
    color: #fff;
    background: #333;
    border-radius: 5px;
}
.users-list a{
    margin-bottom: 15px;
    page-break-after: 10px;
    padding-right: 15px;
    border-bottom: #f1f1f1;
}
.users-list a:last-child{
    border: none;
    margin-bottom: 0px;
}
.users-list a .content{
    width: 100%;
}
.users-list a .content img{
    width: 40px;
    height: 40px;
}
.users-list a .content p{
    color: #67676a;
}
.users-list a .status-dot{
    margin-left: 20px;
    font-size: 12px;
    color: #468669;
}
/* This class name use in php to show offline status */
.users-list a .status-dot.offline{
    color: #ccc;
}
.users .user-account .content .edit-image{
    margin-top: 10px;
    font-size: 11px;
    color: rgb(101, 189, 12);
    text-decoration: underline;
}
.users .user-account .content .update-form{
    margin-top: 20px;        
}
.users .user-account .content .update-form form label{
    font-size: 10px;
    color: #67676a;
}
.users .user-account .content .update-form form input{    
    padding-left: 10px;
    width: 100%;
    height: 30px;
    background: #fff;
    border: none;
}
.users .user-account .content .update-form .user-img{
    padding-top: 5px;
    background: none;
}
.users .user-account .content .update-form .update{
    margin-top: 30px;    
    background: rgb(101, 189, 12);    
    color: #fff;
    cursor: pointer;
}
.users .user-account .content .update-form .error-text{
    margin-top: 20px;
    font-size: 14px;
    color:#682c2c;
    background: #e6b2b2;
    padding: 5px 10px;    
    text-align: center;    
    margin-bottom: 10px;
    display: none;
}

/* Chat area style */

.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
    border-bottom: 1px solid #333;
}
.chat-area header .back-icon{
    font-size: 18px;
    color: #333;
}
.chat-area header img{
    object-fit: cover;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin: 0 15px;    
}

.chat-area header span{
    font-size: 17px;
    font-weight: 500;
}
.chat-box{
    height: 500px;
    /* background: #f7f7f7; */
    padding: 10px 30px 20px 30px;    
    overflow-y: auto;
}
.chat-box .chat-date{    
    margin-left: 40%;
    padding: 5px 0px;
    width: 100px;    
    text-align: center;    
    color: #000;
    font-size: 11px;    
    background: #e3debd;
    border-radius: 5px;
}

.chat-box .chat{
    margin: 25px 0;
}
.chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
}
.chat-box .outgoing{
    display: flex;
}
.outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 110px);
    background: rgb(101, 189, 12);
    color: #fff;    
    border-radius: 18px 18px 0px 18px;
}
.outgoing .details .time{
    margin-left: calc(100% - 30px);
    font-size: 10px;
    color: #fff;
}
.chat-box .incoming{
    display: flex;
    align-items: flex-end;
}
.chat-box .incoming img{
    width: 35px;
    height: 35px;
}
.incoming .details{
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 110px);    
    background: rgba(124, 124, 122, 0.255);
    color: #000;
    border-radius: 18px 18px 18px 0;
}
.incoming .details .time{
    margin-left: 5px;
    font-size: 10px;
    color: #000;    
}
.chat-area .typing-area{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}
.typing-area input{
    height: 45px;
    width: calc(100% - 50px);
    font-size: 17px;
    padding: 0 13px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;

}
.typing-area button{
    width: 55px;
    border: none;
    outline: none;
    background: rgb(101, 189, 12);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}